@import './general';

header{
  position: relative;

  .h-inner{

    @include OverTab{
      position: fixed;
      background-color: #fff;
      display: block;
      width: 225px;
      height: 100%;
      z-index: 200;
    }
   

    .logo{
      padding: 15px 50px;
      position: static;
      top:0;
      left: 0;
    
      
      &.-open{
        position: fixed;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        background-color: black;

        &>h1{
          &>a{

            img.toppic1{
              display: none;
           }

            img.toppic2{
              display: block;
              padding-top:10px;
            }
          }//a
        }
      }


      @include OverTab{
        position: static;
        padding: 30px ;
        
      }
     

      h1{
        a{
          img{
            width: 140px;

            
            &.toppic1{
              display: block;
            }
            &.toppic2{
              display: none;
            }
            @include OverTab{
              width: 155px;
              height: 50px;
            }
          } //img
        }//a
      }//h1
    }//logo

    #nav{
      transform: translateY(calc(-100% - 80px));
      position:fixed;
      width: 100%;
      
      &.-open{   
        display: block;
        top: 76px;
        left:0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        background-color: rgba($black , 0.8);

        transform: none;
        z-index: 200;
        transition: 0.5s ease;
       
      }
      
      @include OverTab{
        width: 225px;
        transform: none;
        display: block;
      }

      .nav__top{
        
        &>hr{
          margin:0;
          background-color: white;
          width: 100%;
          margin-bottom: 20px;
          
          
          @include OverTab{
            width: initial;
            margin-right: 25px;
            margin-left: 25px;
            margin-bottom: 10px;
            background-color: black;

          }
        }
       
  
        &>ul{
  
          &>li{
  
            &>a{
              font-size: 16px;
              display: block;
              position: relative;
              padding: 10px 40px;
              color: white;
           
              
              @include OverTab{
                padding: 10px 25px;
                color: black;

              }

                &::after{
                  content: "ï¼‹";
                  top:25%;
                  right: 25px;
                  position: absolute;
                  color:#FCC800;
                  
                  @include OverTab{
                    content: "\03e";
                  }
                }//after
                  
                  &:hover{
                    background-color: #dfdfdf;
                    color: black;
                  }//hover
            }//a 
            
            .h-second{
              
              h3{

              }
              ul{

              }
              li{

                a{
                  color:white;
                }
              }
            }
  
          }//li
        }//ul

      }//nav-top

      .nav__sub{
        padding-right: 20px;
        padding-left: 40px;
        
        @include OverTab{
          padding-bottom: 20px;
          padding-left: 25px;
          padding-right: 0px;
        }
        

        hr{
          // margin-right: 40px;
          // margin-left: 40px;
          margin-top: 30px;
          width: initial;

          @include OverTab{
            margin:0;
            margin-bottom: 20px;
            background-color: black;
            width: 30px;
            margin-top: 10px;
          }
        }

        ul{

          li{
            list-style: none;

            

            & +li{
              padding-top: 15px;
            }

            a{
             font-size: 14px;
             color: white;

             @include OverTab{
               color:black;
             }

             &:hover{
               text-decoration: underline;
             }

            }
          }
        }
        
      }//nav-sub

      .nav__btn{
        padding-top:40px;
        padding-bottom:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
   

        @include SmallTab{
        flex-direction: row;
        
        }
        
        @include OverTab{
          flex-direction: column;
          padding-bottom: 30px;
          padding-top:0px;
          display: flex;
          align-items: center;
          justify-items: center;
        }
        

        p{
          text-align: center;
          
          & +p{
            margin-top: 10px;
            
            @include SmallTab{
              margin-left:20px;
              margin-top: 0px;
            }

            @include OverTab{
              margin: 10px 0px 0px 0px;
              // margin-top:20px;
            }
          }

          a{
            display: block;
            width: 280px;
            padding-top: 8px;
            padding-bottom: 8px;
            border: 1px solid white;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
            font-size: 14px;
            color: white;
      

            @include OverTab{
              color: #000;
              border: 1px solid black;
              width: 200px;
              margin: 0 auto;
            }
       

            &:hover{
              background-color: $black;
              color: $white;

              @include OverTab{
                background-color: $white;
                 color: $black;
              }
            }

          }
        }

      }

      .nav__access{

        display: flex;
        align-items: center;
        justify-content: center;
        
        @include OverTab{
          justify-content: space-around;

        }
       
        .n-search{
         .fa-search{
            display: block;
            height: 20px;
            width: 20px;
            color:white;

            @include OverTab{
              color:black;
            }
          }
        }

        .langu{
          position: relative;
          margin: 0px 50px;

          @include OverTab{
            margin: 0px;
          }

          &::before{
            position: absolute;
            content:"";
            top:0;
            left: -20px;
            background-color: white;
            width: 2px;
            height: 20px;
           
            
            @include OverTab{
              background-color: black;
            }
          }

          &::after{
            position: absolute;
            content:"";
            top:0;
            right: -20px;
            background-color: white;
            width: 2px;
            height: 20px;

            @include OverTab{
              background-color: black;
            }
          }
            
          a{
            color:white;

            @include OverTab{
              color:black;
            }

            &:last-child{

              &::before{
                content: "/";
                top:0;
                left:0;

              }
            }
          }
        }//langu

        .n-sns{      

          .fa-twitter, .fa-facebook-f{
            color:white;

            @include OverTab{
              color:black;
            }
          }
        }

      }// nav-acces
    }//nav

    
    #buttons{
      position: absolute;
      top:25px;
      right:30px;
      width: 40px;
      height: 40px;
      z-index: 300;
      display: flex;
      flex-direction: column;
      align-content: center;
      padding:0px;

  
      appearance: none;
      outline: none;
      font:inherit;
      border: none;
      background-color: transparent;

      &.-open{
        position: fixed;

        .nav-btns{
        
          span{
            background-color: white;
            height: 1.5px;
            transition: 0.5s ease;
     
         
            &:first-child{
              top:40px;
              left:0;
              transform: rotate(0deg) ;
              width:40px;
  
            }
            &:nth-child(2){
              top: 50%;
              left:-20px;
              transform: rotate(90deg) ;
              width: 40px;
            }
            &:nth-child(3){
              top:0px;
              width: 40px;
              left: 0;
              transform: rotate(0deg) ;
            
            }
            &:nth-child(4){
              top: 50%;
              left:20px;
              transform: rotate(90deg) ;
              width: 40px;
            
            }
            &:nth-child(5){
              top: 50%;
              left: 0%;
              transform: rotate(-45deg) ;
              width: 40px;
            }
            &:nth-child(6){
              top: 50%;
              left: 0%;
              transform: rotate(45deg) ;
              width: 40px;
            }
           
          }//span

         
        }//nav-btns

        .name{
          display: none;
        }
    
      }

      @include OverTab{
        display: none;
      }
    
      .nav-btns{
        position: relative;
        width: 100%;
        height: 100%;
    
        span{
          background-color: black;
          width: 20px;
          height: 2px;
          position: absolute;
  
          &:first-child{
            top: 0;
            left:-10px;
            transform:rotate(60deg) ;
          }
          &:nth-child(2){
            top:0;
            left:0px;
            transform:rotate(-60deg) ;
          }
          &:nth-child(3){
            top:0;
            left:10px;
            transform:rotate(60deg);
               }
          &:nth-child(4){
            top:0;
            left:20px;
            transform:rotate(-60deg);
          }
          &:nth-child(5){
            top:0;
            left:30px;
            transform:rotate(60deg);
          }
          &:nth-child(6){
            top:0;
            left:30px;
            transform:rotate(60deg);
          }
        }//span
      }//nav-btns
    }//button
    
    
  }//inner
}//header