 // 6番目
 #sns{
  width:100%;
  background-color: #FCC800;

  
  .s-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px 0px;

    
    @include MidTab{
      padding :70px 10px 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
      max-width:1560px;
      width:100%;

    }


    .s-facebook{
      padding-bottom: 30px;
    }

    .s-twitter{
      overflow-x: hidden ;

      &>div{
        margin: 0px!important;
      }

    }
  
    
  }

}